* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: rgb(218, 211, 211); */
    font-size: 16px;
    min-height: 100vh;
    background: url("bg-intro-desktop.png") no-repeat center;
    background-size: cover;
    background-color: hsl(0, 100%, 74%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.parent {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    background-blend-mode: overlay;
}

.container-1 {
    color: white;
    padding: 20px;
    padding-left: 40px;
    padding-right: 30px;
    width: 50%;
}

h2 {
    margin-bottom: 20px;
    /* text-align: justify; */
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    display: block;
    font-size: 40px;
}

#container1 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.container-2 {
    width: 50%;
    padding-right: 50px;
}

#container2 {
    color: white;
    border: 1px solid rgb(93, 84, 163);
    border-radius: 5px;
    background-color: rgb(93, 84, 163);
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    margin-bottom: 15px;
    box-shadow: 0 3px rgb(178, 97, 124);
}

section {
    border: 1px solid white;
    padding: 30px;
    background-color: white;
    border-radius: 5px;
    height: 80%;
    box-shadow: 0 3px rgb(178, 97, 124);
}

.firstname,
.lastname,
.email,
.password {
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(245, 235, 235);
    border-radius: 5px;
}

input:focus {
    outline: 0;
    border: 1px solid rgb(93, 84, 163);
}

button {
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: hsl(154, 59%, 51%);
    border: 1px solid hsl(154, 59%, 51%);
    border-radius: 5px;
    color: white;
    box-shadow: 0 2px green;
}

footer {
    font-size: 13px;
    text-align: center;
    padding-top: 5px;
    color: hsl(246, 25%, 77%);
}

a {
    text-decoration: none;
    color: hsl(0, 100%, 74%);
}

@media screen and (max-width: 422px) {
    .parent {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 1rem;
    }
    .container-1 {
        padding: 20px;
        padding-left: 40px;
        padding-right: 30px;
        width: 100%;
        text-align: center;
    }
    .container-2 {
        width: 100%;
        padding-right: 0;
    }
}